@import "./highlight.dark.scss";

$xenial-primary-color: #00506a;
$xenial-secondary-color: #38bcd8;
$xenial-highlight-color: #f3a027;
$xenial-lighter-color: #e4e4e4;
$xenial-light-color: #8b93a1;

$xenial-dark-color: #667a86;
$xenial-darker-color: #333333;
$xenial-white-color: #fff;
$xenial-black-color: #000;

$xenial-styria-green-color: #007e2d;
$xenial-austria-red-color: #c8102e;

$xenial-anim-s: 100ms;
$xenial-anim-s2: 150ms;
$xenial-anim-s3: 200ms;
$xenial-anim-m: 250ms;
$xenial-anim-l: 500ms;

@mixin dark-theme {
  --xenial-styria-green-color: #{$xenial-styria-green-color};
  --xenial-austria-red-color: #{$xenial-austria-red-color};

  --xenial-primary-color: #{$xenial-primary-color};
  --xenial-secondary-color: #{$xenial-secondary-color};
  --xenial-highlight-color: #{$xenial-highlight-color};
  --xenial-lighter-color: #{$xenial-lighter-color};
  --xenial-light-color: #{$xenial-light-color};
  --xenial-dark-color: #{$xenial-dark-color};
  --xenial-darker-color: #{$xenial-darker-color};
  --xenial-white-color: #{$xenial-white-color};
  --xenial-black-color: #{$xenial-black-color};

  --xenial-body-bg-color: #{$xenial-dark-color};
  --xenial-nav-bg-color: #{$xenial-dark-color};
  --xenial-hamburer-bg-color: rgba($xenial-dark-color, 0.85);

  --xenial-teaser-bg-color: #{$xenial-primary-color};
  --xenial-teaser-fg-color: #{$xenial-lighter-color};
  --xenial-teaser-highlight-color: #{$xenial-secondary-color};

  --xenial-fineprint-bg-color: #{$xenial-secondary-color};
  --xenial-fineprint-fg-color: #{$xenial-lighter-color};
  --xenial-fineprint-highlight-color: #{$xenial-secondary-color};

  --xenial-tag-color: #{$xenial-highlight-color};

  @include highlight-dark;
}

:root {
  --xenial-anim-s: #{$xenial-anim-s};
  --xenial-anim-s2: #{$xenial-anim-s2};
  --xenial-anim-s3: #{$xenial-anim-s3};
  --xenial-anim-m: #{$xenial-anim-m};
  --xenial-anim-l: #{$xenial-anim-l};
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --xenial-anim-s: 0;
    --xenial-anim-s2: 0;
    --xenial-anim-s3: 0;
    --xenial-anim-m: 0;
    --xenial-anim-l: 0;
  }
}
