@import "./_colors.scss";
@import "./highlight.light.scss";

@mixin light-theme {
  --xenial-lighter-color: #{$xenial-darker-color};
  --xenial-light-color: #{$xenial-dark-color};
  --xenial-dark-color: #{$xenial-light-color};
  --xenial-darker-color: #{$xenial-lighter-color};
  --xenial-white-color: #{$xenial-black-color};
  --xenial-black-color: #{$xenial-white-color};
  --xenial-primary-color: #{$xenial-secondary-color};
  --xenial-secondary-color: #{$xenial-primary-color};

  --xenial-body-bg-color: #{$xenial-light-color};
  --xenial-nav-bg-color: #{$xenial-light-color};
  --xenial-hamburer-bg-color: #{rgba($xenial-light-color, 0.85)};

  --xenial-teaser-bg-color: #{$xenial-secondary-color};
  --xenial-teaser-fg-color: #{$xenial-darker-color};
  --xenial-teaser-highlight-color: #{$xenial-highlight-color};

  --xenial-fineprint-bg-color: #{$xenial-secondary-color};
  --xenial-fineprint-fg-color: #{$xenial-lighter-color};
  --xenial-fineprint-highlight-color: #{$xenial-primary-color};

  @include highlight-lite;
}

:root {
  //Get a baseline for the animation
  @include dark-theme;
}

$moon: "\f186";
$sun: "\f185";

@mixin theme-indicator($icon) {
  .xenial-theme-indicator:before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    content: $icon;
  }
}

@media (prefers-color-scheme: light) {
  .xenial {
    &__toggletheme-checkbox {
      &:checked ~ * {
        @include dark-theme;
        @include theme-indicator($sun);
      }
      &:not(:checked) ~ * {
        @include light-theme;
        @include theme-indicator($moon);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .xenial {
    &__toggletheme-checkbox {
      &:checked ~ * {
        @include light-theme;
        @include theme-indicator($moon);
      }
      &:not(:checked) ~ * {
        @include dark-theme;
        @include theme-indicator($sun);
      }
    }
  }
}

.xenial {
  &__toggletheme-checkbox {
    display: none;
  }
}

@media (min-width: 768px) {
  .xenial-theme-text {
    display: none;
  }
}
