@import "./colors";

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}
img {
  border: 0;
}

.xenial-body {
  background-color: var(--xenial-body-bg-color);
  transition-property: color, opacity, background-color;
  transition-duration: var(--xenial-anim-s3);
  transition-timing-function: ease-in;
  * {
    transition-property: color, opacity, background-color;
    transition-duration: var(--xenial-anim-s3);
    transition-timing-function: ease-in;
  }
}

main {
  --margin-left: calc(1.1rem / 2);

  background-color: var(--xenial-darker-color);
  color: var(--xenial-light-color);
  padding-left: var(--margin-left);
  padding-right: var(--margin-left);
}
