@import "colors";

main {
  article:first-child h1 {
    color: var(--xenial-lighter-color);
  }

  h1 a,
  a:link,
  a:visited,
  a:active {
    color: var(--xenial-lighter-color);
  }

  article {
    &:first-child {
      padding-top: 1rem;
    }
    &:last-child {
      padding-bottom: 1rem;
    }

    ol {
      list-style: none;
      counter-reset: listing;
      padding: {
        left: 1rem;
        top: 0.5rem;
        bottom: 0.5rem;
      }
    }

    ol li {
      counter-increment: listing;
    }

    ol li:before {
      content: counters(listing, ".") ". ";
      color: var(--xenial-secondary-color);
      font-weight: bold;
      min-width: 1.5rem;
      display: inline-block;
      padding-right: 0.2rem;
    }

    ul {
      list-style: none;
      padding: {
        left: 2rem;
        top: 0.5rem;
        bottom: 0.5rem;
      }

      li {
        ul {
          padding: {
            left: 1.25rem;
          }
        }
        position: relative;

        &:before {
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          content: "\f111 ";
          color: var(--xenial-secondary-color);
          font-weight: bold;
          transform: scale(0.5, 0.5);
          display: inline-flex;
          position: absolute;
          left: -1.5rem;
          top: 0.5rem;
        }
      }
    }

    blockquote {
      background-color: var(--highlight-bg);
      border-left: var(--xenial-highlight-color) solid 3px;
      border-radius: 0.5rem;
      border-bottom-left-radius: 3px;

      margin: {
        top: 2rem;
        bottom: 1rem;
        left: 1rem;
      }

      p {
        padding: {
          top: 0.5rem;
          left: 2rem;
          right: 2rem;
        }

        position: relative;

        &:before {
          position: absolute;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
          content: "\f05a";
          color: var(--xenial-highlight-color);
          background-color: var(--xenial-darker-color);
          font-size: 2rem;
          top: 0px;
          left: 0px;
          transform: translate(-50%, -50%);
          padding: 8px;
          border-radius: 50%;
        }
      }
    }
    @mixin inline-code {
      background-color: var(--highlight-bg);
      opacity: 0.8;
      border-radius: 2px;
      display: inline-block;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
    }

    p {
      a:hover {
        text-decoration: none;
      }

      code {
        @include inline-code;
      }
    }

    li code {
      @include inline-code;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  main {
    article {
      max-width: 768px;
      margin: {
        left: auto;
        right: auto;
      }

      &:first-child {
        padding-top: 1.5rem;
      }
      &:last-child {
        padding-bottom: 2rem;
      }

      &:first-child h1 {
        padding: {
          bottom: 2rem;
        }
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        padding: {
          top: 1.5rem;
          bottom: 0.5rem;
        }
      }

      p {
        padding-bottom: 0.75rem;
      }

      pre[class*="language-"] {
        margin: {
          top: 1rem;
          bottom: 1rem;
        }

        max-height: 35rem;
        overflow: auto;
      }

      blockquote {
        margin: {
          left: 0;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
