main {
  article {
    &:first-child {
      padding-top: 1rem;
    }
    &:last-child {
      padding-bottom: 1rem;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  main {
    article {
      // --margin-left: 0;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;

      &:first-child {
        padding-top: 2rem;
      }
      &:last-child {
        padding-bottom: 2rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
