@import "./_colors.scss";

.xenial-header {
  --left-margin: 1.1rem;
  --height: 3rem;

  height: var(--height);
  position: relative;

  &__logo__teaser {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: row-reverse;
    padding-right: var(--left-margin);
    padding-left: var(--left-margin);
    padding-bottom: 0.1rem;
    color: var(--xenial-lighter-color);
    background-color: rgba($xenial-dark-color, 0.85);
    opacity: 0;
    transition: background-color 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    border: 0;

    img {
      display: block;
      width: calc(var(--height) - 0.3rem);
      padding: 0;
      margin: 0;
      margin-top: 0.3rem;
    }

    &__brand-rows {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      text-align: center;
      margin-right: 0.4rem;
      line-height: 1.1rem;
      align-items: flex-end;
      margin-top: auto;
      margin-bottom: auto;
      white-space: nowrap;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row-reverse;
    margin-left: var(--left-margin);
    margin-right: var(--left-margin);
    background-color: var(--xenial-dark-color);
    color: var(--xenial-lighter-color);

    img {
      display: block;
      width: calc(var(--height) - 0.3rem);
      padding: 0;
      margin: 0;
      margin-top: 0.3rem;
    }

    &__brand-rows {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      text-align: center;
      margin-right: 0.4rem;
      line-height: 1.1rem;
      align-items: flex-end;
      margin-top: auto;
      margin-bottom: auto;
      white-space: nowrap;
    }
  }

  &__nav {
    position: fixed;
    background-color: var(--xenial-dark-color);
    left: 0;
    right: 0;
    transform: scale(1, 0);
    transition: 500ms ease;
    transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
    transform-origin: top;

    ul {
      list-style: none;
    }

    a,
    a:link {
      margin-bottom: 0.5rem;
      text-decoration: none;
      color: var(--xenial-lighter-color);
      font-size: 1.4rem;
      display: inline-block;
      margin-left: var(--left-margin);
      opacity: 0;
      transition: opacity 100ms ease-in-out;
      position: relative;

      i.fas {
        width: 1.2em;
      }

      &:hover i.fas {
        color: var(--xenial-secondary-color);
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        background: var(--xenial-secondary-color);
        left: -0.2rem;
        right: -0.2rem;
        transform: scale(0, 1);
        transition: transform ease-in-out 150ms;
        transform-origin: left;
        border-radius: 2px;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }

  &__togglenavbar-label {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height);
    display: flex;
    align-items: center;

    div {
      background-color: rgba($xenial-dark-color, 0.85);
      transition: background-color 250ms ease-in-out;

      margin-left: calc(var(--left-margin) / 2);
      padding-left: calc(var(--left-margin) / 2);
      margin-right: calc(var(--left-margin) / 2);
      padding-right: calc(var(--left-margin) / 2);
      border-radius: 0.5rem;
      height: calc(var(--height) - var(--left-margin) / 2);
      display: flex;
      align-items: center;

      span.middle,
      span.before,
      span.after {
        display: flex;
        background-color: var(--xenial-lighter-color);
        width: 1.5rem;
        height: 2px;
        border-radius: 2px;
        position: relative;
        transition: 0.6s ease;
        transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
      }
      span.before,
      span.after {
        position: absolute;
      }
      span.before {
        bottom: 7px;
      }
      span.after {
        top: 7px;
      }
    }
  }

  &__togglenavbar-checkbox {
    display: none;
  }

  &__togglenavbar-checkbox:checked ~ &__nav {
    transform: scale(1, 1);

    a,
    a:link {
      opacity: 1;
      transition: opacity 250ms ease-in-out 100ms;
    }
  }

  &__togglenavbar-checkbox:checked ~ &__logo__teaser {
    opacity: 1;
    background-color: var(--xenial-dark-color);
  }

  &__togglenavbar-checkbox:checked ~ &__togglenavbar-label div {
    background-color: var(--xenial-dark-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__togglenavbar-checkbox:checked ~ &__togglenavbar-label div span.before {
    transform: rotate(45deg);
    transform: scale(0, 0);
  }

  &__togglenavbar-checkbox:checked ~ &__togglenavbar-label div span.middle {
    transform: rotate(45deg);
  }

  &__togglenavbar-checkbox:checked ~ &__togglenavbar-label div span.after {
    top: 0px;
    transform: rotate(-270deg);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .xenial-header {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;

    &__logo__teaser,
    &__togglenavbar-label {
      display: none;
    }

    &__logo {
      flex-direction: row;
      grid-column: 2 / 3;

      &__brand-rows {
        align-items: flex-start;
        margin-left: 0.4rem;
      }
    }

    &__nav {
      grid-column: 3 / 4;
      position: unset;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform: unset;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      a,
      a:link {
        margin-bottom: 0;
        margin-left: 1.5em;
        font-size: unset;
        display: unset;
        opacity: unset;
        position: relative;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
