@mixin highlight-dark {
  $highlight-fg: #d4d4d4;
  $highlight-bg: #1e1e1e;

  $highlight-selection-bg: #b3d4fc;

  $highlight-token-comment: #6a9955;
  $highlight-token-constant: #b5cea8;
  $highlight-token-string: #ce9178;
  $highlight-token-keyword: #c586c0;
  $highlight-token-function: #dcdcaa;
  $highlight-token-variable: #d16969;
  $highlight-token-parameter: #9cdcfe;
  $highlight-token-classname: #4ec9b0;
  $highlight-token-interpolation: #569cd6;
  $highlight-token-boolean: #569cd6;
  $highlight-token-selector: #d7ba7d;

  --highlight-fg: #{$highlight-fg};
  --highlight-bg: #{$highlight-bg};

  --highlight-selection-bg: #{$highlight-selection-bg};

  --highlight-token-comment: #{$highlight-token-comment};
  --highlight-token-constant: #{$highlight-token-constant};
  --highlight-token-string: #{$highlight-token-string};
  --highlight-token-keyword: #{$highlight-token-keyword};
  --highlight-token-function: #{$highlight-token-function};
  --highlight-token-variable: #{$highlight-token-variable};
  --highlight-token-parameter: #{$highlight-token-parameter};
  --highlight-token-classname: #{$highlight-token-classname};
  --highlight-token-interpolation: #{$highlight-token-interpolation};
  --highlight-token-boolean: #{$highlight-token-boolean};
  --highlight-token-selector: #{$highlight-token-selector};
}
