/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

@mixin highlight-dark {
  $highlight-quote: #d4d0ab;
  $highlight-variable: #ffa07a;
  $highlight-type: #f5ab35;
  $highlight-attribute: #ffd700;
  $highlight-symbol: #abe338;
  $highlight-selection: #00e0e0;
  $highlight-keyword: #dcc6e0;
  $highlight-bg: #2b2b2b;
  $highlight-fg: #f8f8f2;

  --highlight-quote: #{$highlight-quote};
  --highlight-variable: #{$highlight-variable};
  --highlight-type: #{$highlight-type};
  --highlight-attribute: #{$highlight-attribute};
  --highlight-symbol: #{$highlight-symbol};
  --highlight-selection: #{$highlight-selection};
  --highlight-keyword: #{$highlight-keyword};
  --highlight-bg: #{$highlight-bg};
  --highlight-fg: #{$highlight-fg};
}
