@import "./variables";
@import "./catamaran.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

:root {
  --xenial-primary-color: #00506a;
  --xenial-secondary-color: #38bcd8;
  --xenial-highlight-color: #f3a027;
  --xenial-lighter-color: #e4e4e4;
  --xenial-light-color: #99aebb;
  --xenial-dark-color: #667a86;
  --xenial-darker-color: #333333;
  --xenial-white-color: #fff;
  --xenial-black-color: #000;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}
img {
  border: 0;
}

body {
  background-color: var(--xenial-dark-color);
}

main {
  --margin-left: calc(1.1rem / 2);

  background-color: var(--xenial-darker-color);
  color: var(--xenial-light-color);
  padding-left: var(--margin-left);
  padding-right: var(--margin-left);
}

.xenial-header {
  --left-margin: 1.1rem;
  --height: 3rem;

  height: var(--height);
  position: relative;

  &__logo {
    display: flex;
    flex-direction: row-reverse;
    margin-left: var(--left-margin);
    margin-right: var(--left-margin);
    background-color: var(--xenial-dark-color);
    color: var(--xenial-lighter-color);

    img {
      display: block;
      width: calc(var(--height) - 0.3rem);
      padding: 0;
      margin: 0;
      margin-top: 0.3rem;
    }

    &__brand-rows {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      text-align: center;
      margin-right: 0.4rem;
      line-height: 1.1rem;
      align-items: flex-end;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__nav {
    position: fixed;
    background-color: var(--xenial-dark-color);
    left: 0;
    right: 0;
    transform: scale(1, 0);
    transition: transform 250ms ease-in-out;
    transform-origin: top;

    a,
    a:link {
      margin-bottom: 0.5rem;
      text-decoration: none;
      color: var(--xenial-lighter-color);
      font-size: 1.4rem;
      display: block;
      margin-left: var(--left-margin);
      opacity: 0;
      transition: opacity 100ms ease-in-out;

      i.fas {
        width: 1.2em;
      }
    }
  }

  &__togglenavbar-label {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height);
    display: flex;
    align-items: center;

    div {
      background-color: rgba(#667a86, 0.85);
      margin-left: calc(var(--left-margin) / 2);
      padding-left: calc(var(--left-margin) / 2);
      margin-right: calc(var(--left-margin) / 2);
      padding-right: calc(var(--left-margin) / 2);
      border-radius: 0.5rem;
      height: calc(var(--height) - var(--left-margin) / 2);
      display: flex;
      align-items: center;
    }

    span,
    span::before,
    span::after {
      display: flex;
      background-color: var(--xenial-lighter-color);
      width: 1.5rem;
      height: 2px;
      border-radius: 2px;
      position: relative;
    }
    span::before,
    span::after {
      content: "";
      position: absolute;
    }
    span::before {
      bottom: 7px;
    }
    span::after {
      top: 7px;
    }
  }

  &__togglenavbar-checkbox {
    display: none;
  }

  &__togglenavbar-checkbox:checked ~ &__nav {
    transform: scale(1, 1);

    a,
    a:link {
      opacity: 1;
      transition: opacity 250ms ease-in-out 100ms;
    }
  }

  &__togglenavbar-checkbox:checked ~ &__togglenavbar-label div {
    background-color: var(--xenial-dark-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
